@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  /*          COLOR           */
  --first-color: #004aad;
  --second-color: #7AB4FF;
  --third-color: #5795E6;
  --color-background: #f1f1f1;
  --color-navbar-hover-background: #555;

  /*         FONT COLOR     */
  --first-font-color: white;
  --second-font-color: #000;

  /*         FONT FAMILY     */
  --body-font: 'Roboto', sans-serif;
  --h1-font-size: 3rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smalller-font-size: .6rem;
  /*         MARGIN     */
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 7rem;
}

body {
  margin: 0;
  font-family: var(--body-font);
}

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--color-background);
  position: relative;
  height: auto;
  overflow: auto;
}

ul.sidenav li a {
  float: left;
  padding: 15px 0;
  color: var(--second-font-color);
  text-decoration: none;
  width: 25%;
  /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center;
  /* If you want the text to be centered */
}

ul.sidenav li a.active {
  background-color: var(--first-color);
  color: var(--first-font-color);
}

ul.sidenav li a:hover:not(.active) {
  background-color: var(--color-navbar-hover-background);
  color: var(--first-font-color);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  width: 15%;
  transition: transform .2s;
  border-radius: 50%;
}

.center:hover {
  transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.centertext {
  text-align: center
}

.centertext h1 {
  font-size: var(--h1-font-size);
}

.centertext p {
  font-size: var(--h2-font-size);
}

.titleclass h2 {
  margin-left: var(--mb-5);
  font-size: var(--h2-font-size);
  margin-top: 5%;
}

.titleclass p.textleft {

  font-size: var(--h3-font-size);
  margin-top: 5%;
  display: flex;
  margin-left: var(--mb-6);
}

.titleclasswork h2 {
  margin-left: var(--mb-5);
  font-size: var(--h2-font-size);
  margin-top: 20%;
}

.titleclasswork p.textleft {

  font-size: var(--h3-font-size);
  margin-top: 20%;
  display: flex;
}

.btn {
  background-color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Blue */
.info {
  border-color: var(--first-color);
  color: var(--first-color);
}

.info:hover {
  background: var(--first-color);
  color: white;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 45%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: -50px;
}
div.content {
  margin-left: 23%;
  padding: 0px 16px;
  height: 400px;
}

/* Create four equal columns that floats next to each other */
.columnExp {
  float: left;
  width: 45%;
}

/* Content */
.contentExp {
  background-color: white;
  padding: -50px;
}
div.contentExp {
  margin-left: var(--mb-6);
  padding: 0px 16px;
  height: 200;
}
/* Create four equal columns that floats next to each other */
.columnIcons {
  float: left;
  width: 30%;
  margin-top: var(--mb-5);
}

/* Content */
.contentIcons {
  background-color: white;
  padding: -50px;
}
div.contentIcons {
  margin-left: var(--mb-6);
  padding: 0px 16px;
  height: 200;
}
.contact
{
  margin-top: var(--mb-5);
  margin-left: var(--mb-6);
}
.contact span
{
  font-size: var(--h3-font-size);
  font-weight: bold;
  color: var(--first-color);
}
.footer {
  padding-top: var(--mb-2);
  padding-bottom: var(--mb-2);
  background-color: var(--first-color);
  color: #fff;
  text-align: center;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
@media screen and (max-width: 1500px) {
  .btn {
    top: 85%;
  }
}

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }

  ul.sidenav li a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;

  }

  div.content {
    margin-left: 0;
  }
  .workcontainer img {
    display: block;
    margin-left: var(--mb-5);
    text-align: center;
    width: 70%;
    height: 70%;
  }

  .workcontainer P {
    margin-left: var(--mb-5);
  }

  .workcontainer h2 {
    margin-left: var(--mb-5);
  }
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  ul.sidenav li a {
    float: none;
    display: block;
    width: auto;
    text-align: left;
    padding-left: 20px;
    /* If you want the text to be left-aligned on small screens */
  }

  .workcontainer img {
    display: block;
    margin-left: var(--mb-5);
    text-align: center;
    width: 60%;
    height: 60%;
  }

  .workcontainer P {
    margin-left: var(--mb-5);
  }

  .workcontainer h2 {
    margin-left: var(--mb-5);
  }
}