@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  /*          COLOR           */
  --first-color: #004aad;
  --second-color: #7AB4FF;
  --third-color: #5795E6;
  --color-background: #f1f1f1;
  --color-navbar-hover-background: #555;

  /*         FONT COLOR     */
  --first-font-color: white;
  --second-font-color: #000;

  /*         FONT FAMILY     */
  --body-font: 'Roboto', sans-serif;
  --h1-font-size: 3rem;
  --h2-font-size: 2rem;
  --h25-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smalller-font-size: .6rem;
  /*         MARGIN     */
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 2rem;
  --mb-4: 2.5rem;
  --mb-5: 3rem;
  --mb-6: 7rem;
}

body {
  margin: 0;
  font-family: var(--body-font);
  overflow-x: hidden;
}
html{
  scroll-behavior: smooth;
}
ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--color-background);
  height: auto;
  overflow: auto;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}

ul.sidenav li a {
  float: left;
  padding: 15px 0;
  color: var(--second-font-color);
  text-decoration: none;
  width: 20%;
  /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center;
  /* If you want the text to be centered */
}

ul.sidenav li a.active {
  background-color: var(--first-color);
  color: var(--first-font-color);
}

ul.sidenav li a:hover:not(.active) {
  background-color: var(--first-color);
  color: var(--first-font-color);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  width: 20%;
  transition: transform .2s;
  border-radius: 50%;
}

.center:hover {
  transform: scale(1.1);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.centertext {
  text-align: center
}

.centertext h1 {
  font-size: var(--h1-font-size);
  margin-top: 3%;
}

.centertext p {
  font-size: var(--h2-font-size);
  margin-top: 5%;
}

.titleclass h2 {
  margin-left: var(--mb-5);
  font-size: var(--h2-font-size);
  margin-top: 10%;
}

.titleclass p.textleft {

  font-size: var(--h3-font-size);
  margin-top: 5%;
  display: flex;
  margin-left: var(--mb-6);
}

.titleclasswork h2 {
  margin-left: var(--mb-5);
  font-size: var(--h2-font-size);
  margin-top: 20%;
}

.titleclasswork p.textleft {

  font-size: var(--h3-font-size);
  margin-top: 20%;
  display: flex;
}

.btn {
  background-color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
.buttoncenter {
  margin-left: 50%;
  margin-top: 10%;
  position:sticky;
  width: 100%;
  padding: 30;
  transform-origin: center center;
}
/* Blue */
.info {
  border-color: var(--first-color);
  color: var(--first-color);
}

.info:hover {
  background: var(--first-color);
  color: white;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 45%;

}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: -50px;
}

div.content {
  margin-left: var(--mb-6);
  padding: 0px 16px;
  height: 450px;
}

/* Create four equal columns that floats next to each other */
.columnExp {
  float: left;
  width: 100%;
}

/* Content */
.contentExp {
  background-color: white;
  padding: -50px;
}

div.contentExp {
  margin-left: var(--mb-6);
  padding: 0px 16px;
  height: 200;
  margin-top: var(--mb-3);
}

/* Create four equal columns that floats next to each other */
.columnIcons {
  float: left;
  width: 30%;
  margin-top: var(--mb-5);
}

/* Content */
.contentIcons {
  background-color: white;
  padding: -50px;
}

.centericons{
  margin-left: var(--mb-6);
}
.contact {
  margin-top: var(--mb-5);
}

.contact span {
  font-size: var(--h3-font-size);
  font-weight: bold;
  color: var(--first-color);
  margin-left: var(--mb-6);
}

.titleclassworkcontact h2 {
  margin-left: var(--mb-5);
  font-size: var(--h2-font-size);
  margin-top: 20%;
}
.skill_icn{
  color: var(--first-color);
}
.skill_icnfooter{
  color: #fff;
  margin-left: var(--mb-2);
}
.footer {
  padding-top: var(--mb-2);
  padding-bottom: var(--mb-2);
  background-color: var(--first-color);
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 2000px) {
  div.content {
    margin-left: var(--mb-6);
    padding: 0px 16px;
    height: 800px;
  }
  .titleclasswork h2 {
    margin-top: 10%;
}
.titleclassworkcontact h2 {
  margin-top: 10%;
}
  .center {
    margin-top: 5%;
  }
  .centertext h1 {
    font-size: var(--h1-font-size);
    margin-top: 5%;
  }
  
  .centertext p {
    font-size: var(--h2-font-size);
    margin-top: 7%;
  }
}
@media screen and (max-width: 600px) {
  .contact span {
    margin-left: var(--mb-2);
  }
  
  .buttoncenter {
    margin-left: 35%;
    margin-top: 10%;
    position:sticky;
    width: 100%;
  }
  ul.sidenav {
    overflow-x: hidden;
  }

  body {
    margin: 0;
    font-family: var(--body-font);
    overflow-x: hidden;
  }
  .center{
    margin-top: 20%;
  }
  .column {
    margin-left: var(--mb-4);
  }

  div.content {
    height: 250px;
    margin-top: var(--mb-5);
  }

  .titleclass p.textleft {
    font-size: var(--h5-font-size);
    margin-left: var(--mb-4);
  }

  .titleclasswork h2 {
    margin-left: var(--mb-3);
    font-size: var(--h3-font-size);
    margin-top: 20%;
  }

  .titleclasswork p.textleft {

    font-size: var(--h3-font-size);
    margin-top: 20%;
    display: flex;
  }

  .titleclass h2 {
    margin-left: var(--mb-5);
    font-size: var(--h3-font-size);
    margin-top: 5%;
  }

  .centertext h1 {
    font-size: var(--h2-font-size);
  }

  .centertext p {
    font-size: var(--h3-font-size);
  }

  .titleclass p.textleft {

    font-size: var(--h3-font-size);
    margin-top: 5%;
    display: flex;
  }

  /* Create four equal columns that floats next to each other */
  .columnExp {
    width: 100%;
  }

  div.contentExp {
    margin-left: var(--mb-4);
  }
  .centericons{
    margin-left: var(--mb-2);
  }

  /* Create four equal columns that floats next to each other */
  .columnIcons {
    width: 50%;
  }

  .titleclassworkcontact h2 {
    margin-left: var(--mb-3);
    font-size: var(--h3-font-size);
    margin-top: 50%;
  }

  .column {
    width: 100%;
  }
}
/*
@media screen and (min-width: 1500px) {
  body {
    margin: 0;
    font-family: var(--body-font);
    overflow-x: hidden;
  }
  .column{
    margin-left: var(--mb-5);
  }
  div.contentExp {
    margin-left: var(--mb-5);
  }

  div.contentIcons {
    margin-left: var(--mb-4);
    padding: 0px 16px;
  }

  .contact {
    margin-top: var(--mb-5);
    margin-left: var(--mb-5);
  }

  .contact span {
    font-size: var(--h3-font-size);
    font-weight: bold;
    color: var(--first-color);
  }

  .titleclassworkcontact h2 {
    margin-left: var(--mb-3);
    font-size: var(--h2-font-size);
    margin-top: 10%;
  }

  div.content {
    margin-top: var(--mb-3);
    margin-left: 7%;
    height: 700px;
  }

  .titleclasswork h2 {
    margin-left: var(--mb-4);
    font-size: var(--h2-font-size);
    margin-top: 10%;
  }

  .titleclass p.textleft {

    font-size: var(--h25-font-size);
    margin-top: 3%;
    margin-left: var(--mb-5);
  }

  .titleclass h2 {
    margin-left: var(--mb-4);
    font-size: var(--h2-font-size);
    margin-top: 15%;
  }
}
*/
@media screen and (max-width: 900px) {
  .contentExp P{
    font-size: var(--small-font-size);
  }
  .contact span{
    margin-left: var(--mb-5);
  }
  .column{
    margin-left: var(--mb-5);
  }
  div.contentExp {
    margin-left: var(--mb-5);
  }
  .centericons{
    margin-left: var(--mb-5);
  }
  .titleclasscontact {
    margin-left: var(--mb-3);
    font-size: var(--h3-font-size);
  }
  .titleclass h2 {
    margin-left: var(--mb-3);
    font-size: var(--h3-font-size);
    margin-top: 15%;
  }
  .titleclass p.textleft {
    font-size: var(--h5-font-size);
    margin-left: var(--mb-3);
  }
  .titleclassworkcontact h2 {
    margin-left: var(--mb-3);
    font-size: var(--h3-font-size);
    margin-top: 25%;
  }
  .titleclasswork h2 {
    margin-left: var(--mb-3);
    font-size: var(--h3-font-size);
    margin-top: 20%;
  }
  
  body {
    overflow-x: hidden;
  }

  div.content {
    margin-left: 0;
  }

  .column {
    width: 50%;
  }
}